.character
    position: absolute
    top: 50%
    left: 50%
    
    .character-sprite
        position: absolute
        transform: translate3d(-50%, -50%, 0);
        
    @keyframes bobbing {
        0%, 100% { top: 50%; left: 50%; }
        12% { left: calc(50% - 2px); }
        25% { top: calc(50% - 5px); left: 50%; }
        37% { left: calc(50% + 2px); }
        50% { top: 50%; left: 50%; }
        62% { left: calc(50% - 2px); }
        75% { top: calc(50% + 5px); left: 50%; }
        88% { left: calc(50% + 2px); }
    }
    &.moving
        .character-sprite
            animation: bobbing 0.4s infinite linear
            for i in (1..7)
                &.trail{i}
                    animation-delay: i * 0.03s;
                    transform: translate3d(-50% - (i * 10%), -50%, 0);
                    opacity: 1 - (i * 0.2);