.game
    position: absolute
    width: 100%
    height: 100%

.game-border
    position: absolute
    width: gameSize
    height: gameSize
    background: transparent
    border: gameBorderSize solid white
    border-radius: 16px
    pointer-events: none