// fonts
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
sprite = 'Press Start 2P', cursive

// universal
*
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -o-user-select: none
    user-select: none
    -webkit-user-drag: none
    -khtml-user-drag: none
    -moz-user-drag: none
    -o-user-drag: none
    user-drag: none
    
// everything except UI is fixed by default
*
    position: fixed
.ui *
    position: relative

body
    background: black
    margin: 0
    
.hidden
    display: none
    
// imports
@import 'globals'
@import 'game'
@import 'world'
@import 'gameobject'
@import 'character'
@import 'ui'