uiPadding = 5px
.ui
    position: fixed
    bottom: 0
    width: 'calc(100% - %s)' % (2*gameBorderSize + 2*uiPadding)
    height: 'calc(%s - %s)' % (uiSize 2*uiPadding)
    padding: uiPadding;
    background-color: black
    border: gameBorderSize solid white
    border-radius: 16px
    color: white
    font-family: sprite